@{
    ViewData["Title"] = "User Page";
}

<div>
    <h1 class="display-4">Сторінка користувача</h1>
</div>

<h3><a asp-action="Registration">Реєстрація</a></h3>

Д.З. Підібрати bootsrap-шаблон для форми з урахуванням наступних полів:
- Логін
- пароль
- повтор паролю
- реальне ім'я
- E-mail
