@{
    ViewData["Title"] = "Пошта";
}

<div>
    <h1 class="display-4">Підтвердження електронної пошти</h1>
</div>

<p>
    Загальний алгоритм підтвердження
</p>
<ul>
    <li>Користувач вводить Email (при реєстрації чи у кабінеті)</li>
    <li>Система генерує код підтвердження та надсилає на введену пошту</li>
    <li>Також код зберігається у БД для даного користувача і є ознакою
        того, що пошта не підтверджена
    </li>
    <li>При вході до сайту (або до кабінету) повідмоляємо користувача про
        необхідність підтвердити пошту
    </li>
    <li>Розробляємо форму для введеня коду підтвердження</li>
    <li>Розробляємо сторінку, перехід на яку з посилання в електронному листі
        також підтвердить код
    </li>
    <li>У разі успішного підтвердження прибираємо з БД код, це є ознакою
        підтвердженої пошти.
    </li>
</ul>
<p>
    Рекомендація: для кожного проєкту створювати окремий акаунт, на нього
    реєструвати всі ресурси проєкту (репозиторії, інструменти, тощо).
    На прикладі Гугл-акаунтів - створюємо новий. Вимога - двоетапна
    автентифікація.
</p>
<p>
    Для програмної роботи з поштою необхідно створити пароль застосунку.
    Цей пароль демонструється один раз, тому бажано підготувати місце
    для його збереження.    
</p>
<ul>
    <li>Робимо копію appsettings.json, називаємо appsettings.example.json</li>
    <li>У appsettings.example.json всі паролі замінюємо на "CHANGE ME" або "****"</li>
    <li>Вилучаємо appsettings.json з репозиторію ПКМ - Git - Ignore and Untrack item</li>
    <li>Додаємо коментар у README.md щодо необхідності замінити appsettings.example.json
        після клонування репозиторію
    </li>
    <li>Додаємо секцію "Smtp" у appsettings.json</li>
</ul>
<p>
    В акаунті заходимо у секцію "безпека", переходимо "двоетапна автентифікація",
    Знаходимо "паролі застосунків". Створюємо новий пароль, копіюємо його у
    appsettings.json
</p>
<p>
    Дістаємо конфігурацію та перевіряємо успішність: @ViewData["config"]
</p>
