@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">ASP</h1>
    <h3><a href="/Home/Intro">Вступ</a>.</h3>
    <h3><a href="/Home/Scheme">Схема взаємодії</a>.</h3>
    <h3><a href="/Home/Razor">Основи Razor</a>.</h3>
    <h3><a href="/Home/PassData">Моделі передачі даних</a>.</h3>
</div>
