@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">ASP</h1>
    <h3><a href="/Home/Intro">Вступ</a>.</h3>
    <h3><a href="/Home/Scheme">Схема взаємодії</a>.</h3>
    <h3><a href="/Home/Razor">Основи Razor</a>.</h3>

    <!-- Пряме посилання - не чутливе до змін правил маршрутизації -->
    <h3><a href="/Home/PassData">Моделі передачі даних</a>.</h3>

    <!-- тег-помічник - сформує посилання за діючим правилом маршрутизації -->
    <h3><a asp-controller="Home" asp-action="DisplayTemplates">Шаблони відображення даних</a>.</h3>
    
    <!-- незазначені атрибути помічника - беруться з оточення: контроллер буде підставлено поточний - Home -->
    <h3><a asp-action="TagHelpers">Тег-помічники</a>.</h3>

    <h3><a asp-controller="User" >Сторінка користувача</a>.</h3>

</div>
