@model ASP_201.Models.Home.PassDataModel

@{
    ViewData["Title"] = Model.Header;
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
</div>

<p>
    Хоча ASP деталізується як ASP.NET MVC, розміння "моделі" у ньому
    дещо відрізняється від паттерну MVC. У паттерні модель - це архітектурна
    частина програми, призначена для "постачання даних". У ASP модель - 
    це об'єкт (клас), який використовується для передачі даних від 
    контроллера до представлення.
</p>
<p>
    Моделі спрощують використання ViewData, інкапсулюючи дані в одному об'єкті.
    Для впровадження моделі необхідно:<br/>
    - У папці Models створюємо папку з іменем контроллера (Home)<br />
    - У папці Home створюємо класс з назвою представлення (PassDataModel)<br />
    - У класі описуємо поля / властивості <br/>
    - У контроллері створюємо об'єкт цього класу (var model = new....) та
        передаємо його у виклик View(model) <br />
    - На початку представлення додаємо інструкцію &commat;model і зазначемо її тип <br />
    - У тілі представлення звертаємось до моделі через властивість Model
</p>