@{
    ViewData["Title"] = "Сесії";
}

<div>
    <h1 class="display-4">НТТР-сесії</h1>
</div>

<p>
    НТТР-сесії - механізм збереження даних на сервері з прив'язкою до
    певного клієнта (браузера). Поняття сесії - широке, це часовий проміжок, сеанс,
    вживається у різних контекстах (сесія студентів, сесія парламенту).
    Для більш конкретного вживання слід зазначати "НТТР-сесії".
</p>
<p>
    НТТР-сесії реалізуються через Cookie. Cookie - частина НТТР протоколу,
    яка передбачає те, що клієнт, який отримав Cookie, буде включати їх у всі
    запити, що спрямовані на даний ресурс. Також клієнт має забезпечити контроль
    часу життя Cookie. Як правило цей час великий, тому браузер зберігає Cookie
    у файл(и).
</p>
<p>
    Сесію можна уявити, як файл з боку сервера, названий так, як Cookie.
    Прихід Cookie у запиті тягне за собою відкриття файлу та відновлення даних,
    збережених для цього клієнта (запиту). Зокрема, це дозволяє мінімізувати
    кількість Cookie - передавати лише одну, а всі дані зберігати на сервері.
</p>
<p>
    Налагодження та включення механізму сесій - див <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">документацію</a>
</p>
<form>
    Встановити атрибут сесії: <input name="session-attr"/> 
    <input type="submit" value="Встановити" />
</form>
<p>
    Раніше встановлений атрибут: @Context.Session.GetString("session-attribute");
</p>
