@{
    ViewData["Title"] = "Тег-помічники";
}

<div>
    <h1 class="display-4">Тег-помічники</h1>
</div>

<p>
    При створенні посилань (у т.ч. форм) ми зазначаємо адресу<br />
    <code>
        &lt; href="/Home/TagHelpers">
    </code><br />
    Ця адреса має узгоджуватись із правилом маршрутизації<br/>
    <code>
        pattern: "{controller=Home}/{action=Index}/{id?}"
    </code><br />
    Тобто на першому місці - контроллер, на другому - метод (action).

</p>
<p>
    Правила маршрутизації у процесі створення ПЗ можуть зазнавати змін.
    Наприклад, до них можуть бути додані відомості про культуру (uk-UA).
    Як правило, ці відомості зазначають першими в URL:<br />
    <code>
        &lt; href="/uk-UA/Home/TagHelpers">
    </code><br />
</p>
<p>
    Для того щоб посилання мали змогу деякої перевірки валідності, а
    також для забезпечення еластичності (адаптації до змін правил
    маршрутизації), використовуються тег-помічники - звичайні теги 
    з наявними asp-xxxxx атрибутами. Також можливо зазначити лише
    частину з цих атрибутів, інші будуть взяті з оточення або за замовченням.
</p>